body{
    padding: 0;
    margin: 0;
    background-image: url(images/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.basketballplayer img {
    height: auto;
    width: 100%;
    max-width: 470px; 
}

.basketballplayer img {
    position: relative;
    top: 15%;
    left: 15%;
    animation-name: slideleft;
    animation-duration: 5s;

}

.basketballplayer img:active{
    transform: scale(1.01);
}

@keyframes slideleft{
     0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }


}

.singbackground{
    animation-name: appear;
    animation-duration: 7s;
    background-color: rgba(255, 255, 255, 0.555);
    width: 40%;
    height: 95%;
    position: fixed;
    top: 5%;
    left: 60%;
    border-top-left-radius: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.singbackground form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px; 
    color: white; 
}

.singbackground form input {
    width: 250px;
    height: 50px;
    font-size: 16px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border: none;
    border-radius: 10px;
}

.singbackground form input:hover {
   background-color: rgba(127, 255, 212, 0.315);
   transition: 1s;
   transform: scale(1.05);
}
.singbackground form input:active {
   background-color: rgba(127, 255, 212, 0.315);
   transform: scale(1.05);
}


.singbackground form #position {
    width: 250px;
    height: 50px; 
    font-size: 16px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border: none;
    border-radius: 5px;

}

.singbackground form #Message {
    position: absolute;
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);
}
@keyframes appear{
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0%);
    
}

}