body{
    margin: 0;
    padding: 0;
    background: url(images/Deer_club.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    width: 450px;
    height: 450px;
    background-color: rgba(255, 192, 203, 0.767);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: rgba(78, 128, 78, 0.904);
    font-family: 'Quicksand', sans-serif;;
}

.box img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

.box img:hover {
     
     transform: scale(0.9);

}

.box h1{
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.5s;
}

.box h5{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: lighter;
}

.box p{
    text-align: justify;
    line-height: 1.6;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.box li{
    display: inline-block;
    margin: 6px;
}

.box li a{
    text-decoration: none;
    color:  rgba(62, 90, 20, 0.39);
    transition: all 1s ease-in-out;
    font-size: 60px;
}

.box li a:hover{
    color: rgba(155, 36, 28, 0.904);
    font-size: 65px;
    background-color: rgba(255, 185, 246, 0.274);
    border-radius: 50%;
 
}

